################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HMSCC/v15
node_modules
/HMSCC/wwwroot/img
