<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Дом за медико-социални грижи за деца - Дебелец</title>
    <!-- Custom fonts for this theme -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
    <link href="~/css/hmscc.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand js-scroll-trigger"><i class="fas fa-child"></i> ДМСГД <i class="fas fa-child"></i></a>

            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                За нас
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a asp-controller="AboutUs" asp-action="Structure" class="dropdown-item">Структура</a>
                                <a asp-controller="AboutUs" asp-action="Activities" class="dropdown-item">Дейности</a>
                                <a asp-controller="AboutUs" asp-action="Documents" class="dropdown-item">Документи</a>
                                <a asp-controller="AboutUs" asp-action="DailyCenter" class="dropdown-item">Дневен център</a>
                                <a asp-controller="AboutUs" asp-action="DeclarationAbsencePresence" class="dropdown-item">Декларация отсъствие/присъствие</a>
                                <a asp-controller="AboutUs" asp-action="ProgramsAndProjects" class="dropdown-item">Програми и проекти</a>
                                <a asp-controller="AboutUs" asp-action="CorruptionSignals" class="dropdown-item">Сигнали за корупция</a>
                                <a asp-controller="AboutUs" asp-action="AdministrativeService" class="dropdown-item">Административно обслужване</a>
                                <a asp-controller="AboutUs" asp-action="Contacts" class="dropdown-item">Контакти</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item mx-0 mx-lg-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Галерия
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a asp-controller="Galleries" asp-action="PhotosByProject" class="dropdown-item">Снимки по проект</a>
                                <a asp-controller="Galleries" asp-action="PhotosOfDailyCenter" class="dropdown-item">Снимки на дневен център</a>
                                <a asp-controller="Galleries" asp-action="PhotosOfHmscc" class="dropdown-item">Снимки на ДМСГД</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item mx-0 mx-lg-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Профил на купувача
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a asp-controller="BuyerProfiles" asp-action="AnnouncedOrders" class="dropdown-item">Обявени поръчки</a>
                                <a asp-controller="BuyerProfiles" asp-action="AssignedOrders" class="dropdown-item">Възложени поръчки</a>
                                <a asp-controller="BuyerProfiles" asp-action="FinishedOrders" class="dropdown-item">Приключени поръчки</a>
                                <a asp-controller="BuyerProfiles" asp-action="InternalRegulations" class="dropdown-item">Вътрешни правила</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item mx-0 mx-lg-1">
                        <a asp-controller="News" asp-action="News" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Новини</a>
                    </li>

                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Архив</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/js/freelancer.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
